<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row">

          <div class="d-md-block">

            <img loading="lazy" class="img-fluid lazy" src="/img/logo_tearoom.png" width="945" height="945">

          </div>
        </div>
        <div class="row">

          <div class="d-none d-md-block">
            {{- partial "side.html" . -}}
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="title col-8 offset-2 text-center">{{ .Title }}</h1>
        <hr>
        {{- block "body" . }}{{- end }}
      </div>
    </div>
  </div>

  {{- partial "footer.html" . -}}
  {{- partial "script.html" . -}}
</body>

</html>
