<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row">

          <div class="d-md-block">

            {{ $image := resources.Get  "/img/logo_tearoom.png" }}
            {{ $resource := $image}}
            {{ $image := $image.Resize "600x q10" }}
            {{ $image = $image.Filter  ((images.Pixelate 8) ) ((images.Pixelate 8)) (images.GaussianBlur 80 ) }}

            {{ $image = $image.Filter (images.GaussianBlur 20 ) }}

            <img data-src="{{ $resource.Permalink }}" src="{{ $image.Permalink }}" alt="{{ $.Title }}"
              class="img-fluid lazy">

          </div>
        </div>
        <div class="row">

          <div class="d-none d-md-block">
            {{- partial "side.html" . -}}
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="title col-8 offset-2 text-center">{{ .Title }}</h1>
        <hr>
        {{- block "body" . }}{{- end }}
      </div>
    </div>
  </div>
  {{- partial "script.html" . -}}
</body>

</html>
