<article class="center">
  <h1 class="text-center">{{ .Title }}</h1>
  <a href="{{ .Permalink }}">


    {{ if .Params.feature_image }}
    {{ $image := .Resources.GetMatch ( print .Params.feature_image ) }}
    {{ $resource := $image}}
    {{ $image := $image.Resize "600x q10" }}
    {{ $image = $image.Filter  ((images.Pixelate 8) ) ((images.Pixelate 8)) (images.GaussianBlur 80 ) }}

    {{ $image = $image.Filter (images.GaussianBlur 20 ) }}

    <img data-src="{{ $resource.Permalink }}" src="{{ $image.Permalink }}" alt="{{ $.Title }}"
      class=" col-8 offset-2 img-fluid">
    {{ end }}


  </a>
  <div class="offset-2 col-8">
    <p>{{ .Summary }}</p>
    <a href="{{ .Permalink }}">...</a>
    <small>{{ dateFormat "2006 Jan 2" .Date }}</small>
  </div>
</article>
<hr class="offset-1 col-10">
