{{ $title := .Site.Title }}
{{ with .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
{{ $image := .Resize (printf "%dx%d webp" .Width .Height)}}

<nav class="d-flex align-items-end"
style="
    background-image: url('{{$image.RelPermalink}}');
    height: 600px;
    width: auto;
    background-size: cover;
  ">
  <ul  id="navbar-post"  class="navbar fixed-top nav d-flex justify-content-center">
    <li class="nav-item text-center">
      <a class="nav-link active" href="/">
        <img loading="lazy" src="/img/logo_tearoom.png" alt="{{ $title }}" class=" h-card rounded img-fluid u-logo lazy" width="30"
          height="30">
        {{$title}}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/post/">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/about/">Chi siamo</a></li>
  </ul>
</nav>
{{ else }}
<div class="row container-fluid p-0">
  {{- partial "header.html" . -}}
</div>
<br>
<br>
<br>
{{ end }}
