<ul class="nav flex-column">
  <li class="nav-item">
    <hr>
    <h2 class="title">{{.Site.Title}}</h2>
    <h5 class="title">{{.Site.Params.subtitle}}</h5>

    <hr>
    <p>{{.Site.Params.underlogo}}</p>
    <p>Logo by <a href="https://www.facebook.com/schizziricci/">Schizzi Ricci</a></p>
    <hr>
  </li>
  <li class="nav-item">
    <h5>Tags</h5>
    <p>
      {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      {{end}}
    </p>
  </li>
</ul>
