<ul class="nav flex-column">
  <li class="nav-item">
    <img class="img-fluid" src="https://fundor333.com/img/pilogo.jpg">
    <p>{{.Site.Params.underlogo}}</p>
  </li>
  <li class="nav-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Argomenti</h5>
        <p class="card-text">
          {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <a href="{{.Permalink}}">{{.Title}}</a>
          {{end}}
        </p>
      </div>
    </div>
  </li>
</ul>
