{{ define "body" }}

{{ $img := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
{{ $image := $img.Resize (printf "%dx%d webp" $img.Width $img.Height)}}

<nav class="d-flex align-items-end"
style="
    background-image: url('{{$image.RelPermalink}}');
    height: 500px;
    width: auto;
    background-size: cover;
  ">
  <ul  id="navbar-post"  class="navbar fixed-top nav d-flex justify-content-center">
    <li class="nav-item text-center">
      <a class="nav-link active" href="/">
        <img loading="lazy" src="/img/logo_tearoom.png" alt="{{ .Site.Title }}" class=" h-card rounded img-fluid u-logo lazy" width="30"
          height="30">
        {{.Site.Title}}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/post/">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/about/">Chi siamo</a></li>
  </ul>
</nav>
<div class="d-flex align-items-end justify-content-center p-2">
  <h1 class="title text-center dark-text">{{ .Title }}</h1>
</div>
<article id="post" class="center post">
  <div>

    {{ $img := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
    {{ $image := $img.Resize (printf "%dx%d webp" $img.Width $img.Height)}}

    <br>
    </div>
    <div class="col-8 offset-2">
    <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    <p>
      <small><i class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i
          class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 7 }}<i
          class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i
          class="fas fa-mug-tea"></i>{{ end }}{{ end }}{{ end }}
        Reading time {{.ReadingTime}} minutes
      </small>
    </p>
    <hr>

    {{ with .Params.tags }} {{ range . }}
    <a class="tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'><i class="fas fa-leaf"></i> {{ . }}</a>
    {{ end }}
    {{ end }}
    <hr>
  </div>
  <div class="text-center">
    <h2><i class="fas fa-leaf"></i></h2>
  </div>

  <div class="offset-2 col-8">
    {{.Content}}
    <hr>

    {{ template "_internal/disqus.html" . }}
  </div>
</article>

{{ end }}
