{{ define "body" }}

{{ partial "img-header.html" . }}

<div class="d-flex align-items-end justify-content-center p-2">
  <h1 class="title text-center dark-text">{{ .Title }}</h1>
</div>
<article id="post" class="center post">
  <div>

    {{ $img := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
    {{ $image := $img.Resize (printf "%dx%d webp" $img.Width $img.Height)}}

    <br>
    </div>
    <div class="col-8 offset-2">
    <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    {{ partial "readingtime.html" . }}
    <hr>
    {{ partial "categories.html" . }}
    <hr>
    {{ partial "tags.html" . }}
    <hr>
  </div>
  <div class="text-center">
    <p class="fs-1"><i class="fa-duotone fa-alien-8bit tea-duotone"></i></p>
  </div>

  <div class="offset-2 col-8">
    {{.Content}}
    <hr>

    {{ template "_internal/disqus.html" . }}
  </div>
</article>
<br>
<br>
<div class="offset-2 col-8 container">
  <div class="row row-cols-1 row-cols-md-2 row-eq-height">
  {{ $related := .Site.RegularPages.Related . | first 4 }}
  {{ with $related }}
  {{ range . }}
  <div class="col">
    {{ .Render "summary" }}
  </div>
  {{ end }}
  </div>
{{ end }}
</div>
{{ end }}
