{{ define "body" }}

{{ $img := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
{{ $image := $img.Resize (printf "%dx%d webp" $img.Width $img.Height)}}

<nav class="d-flex align-items-end"
style="
    background-image: url('{{$image.RelPermalink}}');
    height: 600px;
    width: auto;
    background-size: cover;
  ">
  <ul  id="navbar-post"  class="navbar fixed-top nav d-flex justify-content-center">
    <li class="nav-item text-center">
      <a class="nav-link active" href="/">
        <img loading="lazy" src="/img/logo_tearoom.png" alt="{{ .Site.Title }}" class=" h-card rounded img-fluid u-logo lazy" width="30"
          height="30">
        {{.Site.Title}}</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/post/">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/about/">Chi siamo</a></li>
  </ul>
</nav>
<div class="d-flex align-items-end justify-content-center p-2">
  <h1 class="title text-center dark-text">{{ .Title }}</h1>
</div>
<article id="post" class="center post">
  <div>

    {{ $img := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
    {{ $image := $img.Resize (printf "%dx%d webp" $img.Width $img.Height)}}

    <br>
    </div>
    <div class="col-8 offset-2">
    <a href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
    {{ partial "readingtime.html" . }}
    <hr>
    {{ partial "categories.html" . }}
    <hr>
    {{ partial "tags.html" . }}
    <hr>
  </div>
  <div class="text-center">
    <p class="fs-1"><i class="fa-duotone fa-alien-8bit tea-duotone"></i></p>
  </div>

  <div class="offset-2 col-8">
    {{.Content}}
    <hr>

    {{ template "_internal/disqus.html" . }}
  </div>
</article>
<br>
<br>
<div class="offset-2 col-8 container">
  <div class="row row-cols-1 row-cols-md-2 row-eq-height">
  {{ $related := .Site.RegularPages.Related . | first 4 }}
  {{ with $related }}
  {{ range . }}
  <div class="col">
    {{ .Render "summary" }}
  </div>
  {{ end }}
  </div>
{{ end }}
</div>
{{ end }}
