<article class="center">
  <a href="{{ .Permalink }}">
    <div>
      <h2 class="text-center">{{ .Title }}</h2>
      <h5 class="text-center">{{ dateFormat "2006-01-02" .Date }}</h5>
    </div>
    <div class="text-center">
      <h2><i class="fas fa-leaf"></i></h2>
    </div>
    <div>
      {{ $image := .Resources.GetMatch "{cover.jpg,cover.png,cover.jpeg}" }}
      {{ $resource := imageConfig (add "/content/" $image.RelPermalink )}}

      <img src="{{ $image.Permalink }}" width="{{ $resource.Width }}" height="{{ $resource.Height }}"
        alt="Card image cap" class=" col-8 offset-2 img-fluid lazy" loading="lazy">

      <div class="offset-2 col-8">
        <p>{{ .Summary }}</p>
        <p><a href="{{ .Permalink }}" class="link-post">More...</a></p>
        <div class="row justify-content-md-center">
          <p>
            <small><i class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i
                class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 7 }}<i
                class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i
                class="fas fa-mug-tea"></i>{{ end }}{{ end }}{{ end }}
              Reading time {{.ReadingTime}} minutes
            </small>
          </p>
        </div>
        <div class="row justify-content-md-center">
          <p>
            <small>
              {{ with index (.Params.tags) 0 }}
              <a class="tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'><i class="fas fa-leaf"></i> {{ . }}</a>
              {{ end }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </a>

</article>
<hr class="offset-1 col-10">
