<article class="center">
  <a href="{{ .Permalink }}">
    <div>
      <h2 class="text-center">{{ .Title }}</h2>
      <h5 class="text-center">{{ dateFormat "2006-01-02" .Date }}</h5>
    </div>

    <div>
      {{ if .Params.feature_image }}
      {{ $image := .Resources.GetMatch ( print .Params.feature_image ) }}
      {{ $resource := $image}}
      {{ $image := $image.Resize "600x q10" }}
      {{ $image = $image.Filter  ((images.Pixelate 8) ) ((images.Pixelate 8)) (images.GaussianBlur 80 ) }}

      {{ $image = $image.Filter (images.GaussianBlur 20 ) }}

      <img data-src="{{ $resource.Permalink }}" src="{{ $image.Permalink }}" alt="{{ $.Title }}"
        class=" col-8 offset-2 img-fluid lazy">
      {{ end }}


      <div class="offset-2 col-8">
        <p>{{ .Summary }}</p>
        <div class="row justify-content-md-center">
          <p>
            <small><i class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 7 }}<i class="fas fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i class="fas fa-mug-tea"></i>{{ end }}{{ end }}{{ end }}
              Reading time {{.ReadingTime}} minutes
            </small>
          </p>
        </div>
        <div class="row justify-content-md-center">
          <p>
            <small>
              {{ with index (.Params.tags) 0 }}
              <a class="tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'><i class="fas fa-leaf"></i> {{ . }}</a>
              {{ end }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </a>

</article>
<hr class="offset-1 col-10">
