$tea_black: #292F36;
$tea_white: #F7FFF7;
$tea_green: #96B83D;
$tea_blue: #1B9AAA;
$tea_violett: 918EF4;
$tea_color_background_primary: $tea_white;
$tea_color_background_secondary: $tea_black;
//
$tea_color_font_primary: $tea_color_background_secondary;
$tea_color_font_secondary: $tea_color_background_primary;
//
$shadow_color: rgba(0, 0, 0, 0.2);
