@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Syne+Mono&display=swap');


@font-face {
	font-family: 'DovesType-Regular';
	src: url('/fonts/DovesType-Regular.eot');
	src: url('/fonts/DovesType-Regular.eot') format('embedded-opentype'),
		url('/fonts/DovesType-Regular.woff2') format('woff2'),
		url('/fonts/DovesType-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

a {
	color: $tea_black;

	&:link {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}

	&:hover {
		color: $tea_green;
		text-decoration: underline;
	}

	&:active {
		text-decoration: underline;
	}
}

article {
	img {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
		max-width: 100%;
		height: auto;
	}

	.highlight {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

}

blockquote {
	font-family: 'Nothing You Could Do', cursive;
}

body {
	color: $tea_black;
	background-color: $tea_white;
	font-family: 'Lexend', sans-serif !important;
}

footer {
	border-top: 2px solid $tea_green;
	margin-top: 10px;
}

hr {
	border-color: $tea_green;
}

nav {
	border-bottom: 2px solid $tea_green;
	margin-bottom: 10px;
}

.bg-tea-bg {
	border-bottom: 2px solid $tea_green;
}

.card {
	border: 2px solid $tea_green;
	background-color: $tea_white;

	border-radius: 0;
}

.navbar {
	background: $tea_green_opacity ;
}

.nav-item {
	margin-bottom: 10px;
}

.nav-link {
	color: $tea_black;
	font-family: 'Eagle Lake', cursive;

	&:hover {
		color: $tea_green;
	}
}

.no-decorator {
	text-decoration: none;
}

.page-link {
	border: 1px solid $tea_green;
	background-color: $tea_white;

	color: $tea_black;

	&:hover {
		border: 1px solid $tea_green;

		color: $tea_white;
		background-color: $tea_green;
	}
}

.post {

	h1,
	h2,
	h3 {
		position: relative;
	}
}

.tag {
	white-space: nowrap;
}

.title {
	font-family: 'Eagle Lake', cursive;
	text-transform: capitalize;
}

#paginator {
	border-bottom: 0px;
}
